
$text-light: rgb(224, 224, 224);
$text-dark: #222222;


$navSize: 20vw;

$primary-dark: #2c2c2c;
$secondary: rgb(200, 163, 109);
$feature: #0da574;
$primary: rgb(33, 27, 178);
$light: #f4f4f4;



$gutterOne: 90px 40px;
$gutterTwo: 60px 20px;